# Activity Class Definitions

{% for _, annot in annotations.items() %}
1. `{{annot.act_set_name}}`
{% endfor %}

## [1] `OPENPACK_OPERATIONS`
{% set annot = annotations["openpack-operations"] %}

- Class Name: `openpack_toolkit.OPENPACK_OPERATIONS`
- Config (YAML): [configs/dataset/annotation/openpack-operations.yaml](../configs/dataset/annotation/openpack-operations.yaml)

### 1-1: Activity Classes

{% if annot.spec.classes %}
| ID | Operation | Description | ignore |
|----|------|-------------|--------|
{% for cls in annot.spec.classes %}
| {{cls.id}} | {{cls.name}} | {{cls.description}} | {% if cls.ignore %}{{cls.ignore}}{% endif %} |
{% endfor %}
{% endif %}

---

## [2] `OPENPACK_ACTIONS`
{% set annot = annotations["openpack-actions"] %}

- Class Name: `openpack_toolkit.configs.dataset.annotation.OPENPACK_ACTIONS`
- Config (YAML): [configs/dataset/annotation/openpack-actions.yaml](../configs/dataset/annotation/openpack-actions.yaml)

### 2-1: Activity Classes

| ID | Operation | Action | Description | ignore |
|----|-----------|------|-------------|--------|
{% for cls in annot.spec.classes %}
| {{cls.id}} | {{cls.operation}} | {{cls.name}} | {{cls.description}} | {% if cls.ignore %}{{cls.ignore}}{% endif %} |
{% endfor %}

---

## [3] `OPENPACK_OUTLIERS` (Outlier Event Definition)
{% set annot = annotations["openpack-outliers"] %}

- Class Name: `openpack_toolkit.configs.dataset.annotation.OPENPACK_OUTLIERS`
- Config (YAML): [configs/dataset/annotation/openpack-outliers.yaml](../configs/dataset/annotation/openpack-outliers.yaml)

### 3-1: Activity Classes

| ID | Category | Event | Tags | ignore | Note |
|----|----------|-------|------|--------|------|
{% for cls in annot.spec.classes %}
| {{cls.id}} | {{cls.category}} | {{cls.event}} | {% for t in cls.tags%}{{t}}, {% endfor %} | {% if cls.ignore %}{{cls.ignore}}{% endif %} | |
{% endfor %}

