# Modality

{% for stream in streams %}
1. `{{ stream.name }}`
{% endfor%}

{% for stream in streams %}
## [{{loop.index}}] `{{stream.name}}`


- Config File: [{{stream.name}}.yaml](../configs/dataset/stream/{{stream.name}}.yaml)
- Python Module: [`openpack_toolkit.configs.datasets.streams.{{stream.name|replace("-", "_")|upper}}_STREAM`](../openpack_toolkit/configs/datasets/streams.py)
- Frame Rate: {{stream.spec.frameRate}} Hz

### {{loop.index}}-1: Metadata

| Key | Value |
|:------|:------|
{% for key, val in stream.metadata.labels.items() %}
| {{key}} | {{val}} |
{% endfor %}
| Sensor | [{{stream.spec.sensorProduct.name}}]({{stream.spec.sensorProduct.uri}}) |
{% for preproc in stream.spec.get("preprocessing", []) %}
| Prepricessing | {{preproc.name}}, [{{preproc.model}}]({{preproc.uri}}) |
{% endfor %}

### {{loop.index}}-2: Path

```txt
{{stream.spec.path.dir}}/{{stream.spec.path.fname}}
```

### {{loop.index}}-3: File Format (`{{stream.spec.fileFormat.fileType}}`)


{% if 'columns' in stream.spec.fileFormat.keys() %}
| # | Column Name | Unit | Dtype | Note |
|---|-------------|------|-------|------|
{% for col in stream.spec.fileFormat.columns %}
| {{loop.index - 1}} | {{col.name}} | {{col.unit}} | {{col.dtype}} | {{col.note}} |
{% endfor%}
{% endif %}

{% endfor%}
