from ._schema import ReleaseConfig

{% for release in releases %}
RELEASE_CONFIG_{{release.version|replace(".", "_")|upper}} = ReleaseConfig(
    version="{{release.version}}",
    url="{{release.url}}",
    users={
{% for user, data in release.users.items() %}
        "{{user}}": ReleaseConfig._User(
            sessions={{data.sessions}},
            exclude={% if data.exclude %}{{data.exclude}}{% else %}None{% endif %},
        ),
{% endfor %}
    },
    streams={{release.streams_str|replace("true", "True")}},
)


{% endfor %}
