from ._schema import SessionConfig, UserConfig

{% for user in users %}
{{user.name}} = UserConfig(
    id={{user.id}},
    name="{{user.name}}",
    sessions={
{% for key, data in user.sessions.items() %}
        "{{key}}": SessionConfig(
            duration="{{data.duration}}",
            end="{{data.end}}",
            start="{{data.start}}",
        ),
{% endfor %}
    },
)

{% endfor %}
