name: Test
on:
  push:
    branches:
      - main      
      - main-dev
      - dev
jobs:
  ci:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - macos-11.0
          - macos-latest
          - windows-latest
          - ubuntu-20.04
          - ubuntu-latest
        python-version: [ 3.8, 3.9 ]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - uses: atu4403/poetry-setup-multi-platform@v1
      - run: |
          poetry install
          poetry run pytest --cov
        shell: bash
